body {
    color:rgb(51, 124, 140);
    font-family: Lemon milk, Helvetica, sans-serif, Courier, monospace;
    background-color: rgb(220, 171, 107);
    font-size: 40px;
    background-image: url('https://dirtsoilandmore.com/wp-content/uploads/sites/12/2014/02/dirt.jpg');
    background-size: 30%;
    cursor: none;
    

}

.pageWrapper {
    margin: 25px 50px 75px 100px;   
    
}

article {
    margin: 25px 50px 75px 100px;
    border: 10px solid rgb(0, 0, 0);
    padding: 4em;
    margin: 0px auto 2em auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white   

}

#p5Wrapper{
    position:fixed;
    inset: 0;
    pointer-events:none;


}

.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.gridWrapper > div > img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;


}

.toTopWrapper{
position:  relative;
bottom: 1px;
top: 1px;
border: 10px solid rgb(0, 0, 0)
}
